
<!-- <div layout="column" layout-fill ng-controller="MainCtrl as mc"></div> -->
<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>DesiRentBala</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon"  (click)="openDialog()" >lock</mat-icon>
    <mat-icon class="example-icon">person</mat-icon>
  </mat-toolbar-row>
  
</mat-toolbar>
<!-- </div> -->


<!-- <div layout="column" layout-fill ng-controller="MainCtrl as mc"> -->
    <!-- <header> -->
      <!-- <md-toolbar md-scroll-shrink> -->
        <!-- <div layout="row" layout-align="center center" flex> -->
          <!-- HEADER INFO -->
        <!-- </div> -->
      <!-- </md-toolbar> -->
    <!-- </header> -->
    <!-- </div> -->


